<!DOCTYPE html>
<html>
<%-
  include('../partials/head',{ titulo })
-%>
  <body>
    <h1><%= titulo %></h1>
    <p>Welcome to <%= titulo %></p>
    <form action="/agregar_proceso" method="POST">
    <label>
        Titulo:
        <input type="text" name="titulo"> 
    </label><br>

    <label>
        Autor:
  <select name="autor">
    <% { autores.forEach(autor => { %>
      <option value="<%= autor.id %>"><%= autor.nombreCompleto %></option>
    <% })} %>

  </select><br>
</label>
  <label><br>
    Cover:
    <input type="text" name="cover">
  </label>
 
    <label><br>
        precio:
        <input type="text" name="precio"> 
    </label><br>
    <input type="submit" value="Agregar Libro">
    </form>
  </body>
</html>
