<!DOCTYPE html>
<html>
<%-
  include('../partials/head',{ titulo })
-%>
  <body>
    <h1><%= titulo %></h1>
    <p>Welcome to <%= titulo %></p>
    <img src="/images/cover/thewitcher.jpg" alt="">
    <form action="/busqueda_proceso" method="GET">
      <label>
        Termino de Busqueda
        <input type="search" name="termino">
      </label>
      <input type="submit" value="buscar">
    </form>

    <ul>
   
      <% libros.forEach( libro => {%>
        <a href="/libro/<%= libro.idLibro %>">
          <li>  <%= libro.titulo %> - 
            <%= libro.autor.nombreCompleto %> - 
               $<%= libro.precio %> </li>
   <% }); %> 
  </a>
  </ul>
  </body>
</html>
